*{
    box-sizing: border-box;
}


body{
    /* height: 2000px ; */
    padding: 0;
    margin: 0;
    background: wheat;
}
section{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px; 
    width: 1200px;    
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.5); 
    display: flex; 
     }
    
  .content{
    width: calc(50% - 50px);
    height: 100%;
    background:white;
    padding: 2% 5%;
    line-height: 1.5em;
    font-size: 18px;
    text-align: justify;
    
} 

.imgBox{
    width: calc(50% + 50px);
    height: 100%;
    background-color:#ff0;
    box-sizing: border-box;
   border-left: 100px solid white;
    border-bottom: 400px solid transparent;
      background-image: url('../img/avatar1copy1.jpg');
      background-position: -80px 0px;   

}  


